//police et mise en forme du texte
.job{
    margin-left: 30px;
}
h3{
    margin-bottom:30px;
    color:white;
    margin-left: 30px;
}

.bio{
padding: 0px;
margin-left: 30px;
}

.competences{
    margin-top: 50px;
    text-align:center;
}
.tel{
    font-size: 20px;
    padding-bottom: 20px
}
.email{
    font-size: 20px;
    padding-bottom: 20px
}

.logo{

    font-size: 15px;
    padding:0;
}
.text{
        width: 50%;
}


//mise en forme du tableau responsive
.description{
    margin-bottom: 40px;
    margin-left: 35px;
    margin-right: 35px;
}
.prog{
    text-align: center;
}

.language{
    text-align: center;
    margin: 100px;
}
