$colors: (
    main:       #5ABDA7,
    second:     #743ad5,
    text:       #3f3f3f,
    link:       #ff0000,
    btn:        #00ff00,
    title:      #0000ff
);

$photo1:(

    width: 40%,
    height: auto,
    border-radius: 30%,

);

$mySlides:(

    width: 100%,
    height: 270px,
    border-radius: 30%,
    desktop-width:70%
    
    
);

$fond:(
    color1:#727581,
    color_pol:white,
)