h3{

    margin-bottom:30px;
    color:white;
}

.bio{
padding: 0;
margin: 0;
}

.competences{
    margin-top: 50px;

}



.presentation {
    margin: 100px ;

}
.formation{

    margin: 100px ;
}
.respond{

    display: none;
}

.tel{
    font-size: 20px;
    padding-bottom: 20px
}
.email{
    font-size: 20px;
    padding-bottom: 20px
}

.mail_box{
margin-top:10px;
margin-bottom: 10px; 
padding: 10px
}
.email-form{
margin-right: 200px;
margin-bottom: 10px;
}
.objet-form{
margin-right: 200px;
margin-bottom: 10px;
}
.contenu-form{
margin-right: 200px;
margin-bottom: 10px;

}

.send{
border: none;

margin-top: 30px;
align-items: left;
}
.prog{
text-align: center;
}


@media only screen and (max-width:1080px){
    .text{
        max-width: 50%;
    }
}
@media only screen and (min-width : 580px){
    .presentation{
        margin: 0,
    
    }
    .formation{
        padding: 0;
        margin: 0,
    }
    .logo{
    
    font-size: 15px;
    padding:0;
        }
    .text{
        width: 50%;
    }
}


@media only screen and (max-width : 580px){
    .timeline-title{
        text-align: left;
        font-size: 15px;
        font-family: "Arial-Black";
    }
    .timeline-body  p {
        margin-top: 5px;
        font-size: 10px;
    }
    .timeline-body ul{
        padding: 10px;
    }
    .timeline-body ul li{
        font-size: 10px;
    }
    .logo{
        width: 50%;
    }

}
